---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout title="About Us">
    <main class="min-h-dvh md:p-4 lg:p-4 relative " data-barba="container" data-barba-namespace="about-us">
<Navbar/>
<div class="grid bg-red-500 md:rounded-3xl h-screen w-full place-items-center grid-rows-3 md:grid-cols-3 md:grid-rows-1 relative">

    <button id="test">test</button>
</div>
    </main>


</Layout>