---
import logo from "../assets/jamptrap_logo.png";
import { Image } from "astro:assets";
---

<header>
  <nav
    class="flex justify-between items-center absolute w-full left-0 px-4 md:px-12 pt-4 z-[1000]"
  >
    <Image class="w-32" src={logo} alt="logo" />
    <iconify-icon
      icon="clarity:menu-line"
      width="34"
      class="text-text-primary mt-4 cursor-pointer "></iconify-icon>
  </nav>
</header>
